#outmost {
    width: 1000px;
    margin: 1rem auto 0;
}

#container {
    position: relative;
    width: 100%;
    padding: 30px 10px;
    box-sizing: border-box;
    background-color: #E6FEFF;
    border: 1px solid #ccc;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
}
#custom-button{
    position: absolute;
    top: 0px;
    right: 0px;
    width: 80px;
    height: 30px;
    background-color: #F6C3CC;
}
.finance {
    position: relative;
}

.eye-icon{
    position: absolute;
    top: 5px;
    right: 5px;
}